body{
    margin:0;
    text-align:center;
}

.top-container {
    background-color:rgba(132, 240, 240, 0.808);
    width:200px;
    height:200px;
    border: solid 10px;
    border-color:black;
    padding:20px;
}

.middle-container{
    background-color:red;
    width:200px;
    height:200px;
    border: solid 20px;
    margin-left:260px;
}

.bottom-container{
    background-color:yellow;
    width:200px;
    height:200px;
    border: solid 10px;
    margin-left:500px;
}

.red{
    background-color:red;
    width:100px;
    height:100px;
    position:absolute;
    top:208px;
    left:208px;
}

.blue{
    background-color:blue;
    width:100px;
    height:100px;
    position:absolute;
    top:108px;
    left:108px;
}

.yellow{
    background-color:yellow;
    width:100px;
    height:100px;
    position:absolute;
}