body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

h1 {
  font-size: 5.625rem;
  margin: 50 auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}

h2 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

p {
  line-height: 2;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: rgba(210, 248, 248, 0.808);
  position: relative;
  padding-top: 100px;
}

.mountain {
  width: 40%;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.sde-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.comic-img {
  width: 20%;
  float: right;
  margin-left: 20px;
}
.profile {
  padding-top: 20px;
}

.profilePic {
  width: 15%;
  border-radius: 100%;
}

.intro {
  width: 30%;
  margin: auto;
}

.red {
  background-color: red;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 208px;
  left: 208px;
}

.blue {
  background-color: blue;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 108px;
  left: 108px;
}

.yellow {
  background-color: yellow;
  width: 100px;
  height: 100px;
  position: absolute;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ed);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ed);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ed);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ed);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ed);
  text-decoration: none;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
